<kendo-appbar position="top">
  <kendo-appbar-section class="title">
    <h1 class="title">Kendo</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section class="appbar-items">
    <ul>
      <li><span>What's New</span></li>
      <li><span>About</span></li>
      <li><span>Contacts</span></li>
    </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="search-section">
    <kendo-textbox [style.width.px]="160" placeholder="Search..." [clearButton]="true">
      <ng-template kendoTextBoxPrefixTemplate>
        <kendo-icon name="search"></kendo-icon>
      </ng-template>
    </kendo-textbox>
  </kendo-appbar-section>

  <kendo-appbar-section class="user-actions">
    <kendo-badge-container>
      <kendo-icon name="bell"></kendo-icon>
      <kendo-badge shape="dot" themeColor="warning" size="small" position="inside"></kendo-badge>
    </kendo-badge-container>
    <span class="k-appbar-separator"></span>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <button kendoButton fillMode="flat" class="overflow-button" #anchor (click)="onToggle()">
      <kendo-icon name="menu"></kendo-icon>
    </button>
    <kendo-popup [anchor]="anchor.element" *ngIf="show" [margin]="margin">
      <div class="content">
        <ul>
          <li class="search">Search...</li>
          <li><span>What's New</span></li>
          <li><span>About</span></li>
          <li><span>Contacts</span></li>
          <li><span>Notifications</span></li>
          <li><span>My Profile</span></li>
        </ul>
      </div>
    </kendo-popup>
    <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle"></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>

<br>

<div class="k-card-container">
  <div class="k-card">
    <img src="./assets/images/icon1.png" alt="Image description" class="k-card-image">
    <div class="k-card-body">
      <p>Google Inc</p>
      <p class="headding"> Project Polmer</p>
      <p class="discription"> Eanodu irunthaval ipothu illieai eangai irunthaval inrillieai</p>
    </div>
  </div>
  <div class="k-card">
    <img src="./assets/images/icon1.png" alt="Image description" class="k-card-image">
    <div class="k-card-body">
      <p>Google Inc</p>
      <p class="headding"> Project Polmer</p>
      <p class="discription"> Eanodu irunthaval ipothu illieai eangai irunthaval inrillieai</p>
    </div>
  </div>
  <div class="k-card">
    <img src="./assets/images/icon1.png" alt="Image description" class="k-card-image">
    <div class="k-card-body">
      <p>Google Inc</p>
      <p class="headding"> Project Polmer</p>
      <p class="discription"> Eanodu irunthaval ipothu illieai eangai irunthaval inrillieai</p>
    </div>
  </div>
  <div class="k-card">
    <img src="./assets/images/icon1.png" alt="Image description" class="k-card-image">
    <div class="k-card-body">
      <p>Google Inc</p>
      <p class="headding"> Project Polmer</p>
      <p class="discription"> Eanodu irunthaval ipothu illieai eangai irunthaval inrillieai</p>
    </div>
  </div>
</div>

<br>
<div class="k-card2">
  <kendo-card width="500px">
    <div class="Form-container"> 
    <form class="k-form">
      <h5>BOOK YOUR DREAM VACATION TODAY</h5>
      <kendo-formfield>
        <kendo-label [for]="fullName" text="Full Name"></kendo-label>
        <kendo-textbox
          formControlName="fullName"
          [clearButton]="true"
          #fullName
          required
        ></kendo-textbox>

        <kendo-formerror>Error: Full Name is required</kendo-formerror>
      </kendo-formfield>
      
      <kendo-formfield>
        <kendo-label [for]="email" text="Email"></kendo-label>
        <kendo-textbox
          formControlName="email"
          [clearButton]="true"
          #email
          required
        ></kendo-textbox>
      </kendo-formfield>
     <div class="card2">

     </div>
      
    </form>
    </div>
  </kendo-card>
</div>

 
